* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theaters{
    
    display: inline-flex;
}
.posters{
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: auto;
    width:100% ;
}
.posters img{
    width: 275px;
    height: 300px
}
.flex-container{
    display: flex;
}
.flex-child-left {
    flex: 25%;
    margin-left: 0px;
    margin-right: 0px;
}
.flex-child-right{
    flex: 75%;
    margin:0 px;
    
}
.row{
    display:flex;
}
.column{
    flex:33.33%;
    padding: 5px;
    margin-bottom: 5px;
}
.column img{
    width: 105%;
    height: 75%;
}
.spacing{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}